<?xml version="1.0" encoding="UTF-8"?>

<suite name="SauceDemo Regression Suite">
  <test name="LoignTest">
   <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
    <classes>
      <class name="tests.LoignTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
