<?xml version="1.0" encoding="UTF-8"?>

<suite thread-count="2" parallel="methods" name="Suite">
  <test thread-count="2" parallel="methods" name="Test">
    <classes>
      <class name="base.BaseTest"/>
      <class name="tests.LoignTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
